# GO
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/hack/.test-cmd-auth
.gopath/

# DOCKER
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
docs/_build
docs/_static
docs/_templates
.dotcloud
bundles/
.hg/
vendor/pkg/
pyenv
Vagrantfile

# KUBERNETES
._*
.kubeconfig
.tags*
.dockerized-kube-version-defs
/kubernetes/
kubernetes.tar.gz

# IntelliJ
*.iml

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# VSCODE
.vscode

# OTHER
.git/
.DS_Store
.env